
<div id="mlistID" class="col-md-4 login-sec" style=" border-radius: 5px;
    background-color: rgba(21, 121, 121, 0.22);
    display: block;
    padding-left: 0px;
         margin-left: 154px;
         margin-top: 55px;
    width: 423px;
   ">
  
    <h2 class="text-center">Upload Mentees List</h2>

<form class="login-form" (ngSubmit)="upload()" >
  <div class="form-group">
    <label  class="text-uppercase" style=" margin-left: 35px;">select file

        <i class="fa fa-asterisk" style="font-size:8px;color:red"></i> 
    </label>
   
    <input type="file" style="width: 322px;
    margin-left: 35px;"
				class="form-control" id="menteeList" required
	name="menteeList" (change)="selectFile($event)" accept=".xls,.xlsx">
  </div>
   
    <div class="form-check">
    <label class="form-check-label">
      
    </label>
    <button type="submit" style=" margin-left: 160px;
    background-color: #5bb6bf;
    margin-bottom: 10px;
    width: 92px;" class="btn btn-login float-right">Submit</button>
  </div>
  
</form>
<div *ngIf="currentFileUpload" class="progress">
	<div class="progress-bar progress-bar-info progress-bar-striped"
		role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
		aria-valuemin="0" aria-valuemax="100"
		[ngStyle]="{width:progress.percentage+'%'}">
		{{progress.percentage}}%</div>
</div>


	</div>