
 
<section class="login-block">
    <div class="container" style="margin-top: 68px;">
	<div class="row">
		<div class="col-md-4 login-sec">
		    <h2 class="text-center">Login Now</h2>
<form [formGroup]="rForm" class="login-form" (ngSubmit)="loginComponent()" >
  <div class="form-group">
    <label for="userName" class="text-uppercase">Username</label>
   
    <input type="text" #usernameobj appAutofocus formControlName="username"
				class="form-control" id="userName" required
        [(ngModel)]="user.userName" name="userName">
    <div class="alert" *ngIf="!rForm.controls['username'].valid && rForm.controls['username'].touched" style="padding-bottom: 0px;padding-top: 0px;">{{ usernameAlert }}</div>
  </div>
  
  <div class="form-group">
    <label for="exampleInputPassword1" class="text-uppercase">Password</label>
   
  <input type="password" formControlName="password"
				class="form-control" id="password" required
        [(ngModel)]="user.password" name="password">
  <div class="alert"  *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched" style="padding-bottom: 0px;padding-top: 0px;">{{ passwordAlert }}</div>
  </div>
  
   
    <div class="form-check">
   
    <button type="submit" class="btn btn-login float-right">Submit</button>
     <label class="form-check-label">
     <div class="callout warning" *ngIf="loginError"> {{ loginAlert }}</div>  
    </label>
  </div>
  
</form>

<li *ngFor="let h of userRole">
  <b>{{h}}</b>
</li>



<div class="copy-text"> </div>
		</div>
		<div class="col-md-8 banner-sec">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                 <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
            <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid" style="height: 431px;" src="https://static.pexels.com/photos/33972/pexels-photo.jpg" alt="First slide" >
      <div class="carousel-caption d-none d-md-block">
        <div class="banner-text">
            <h2>Training Evaluation System</h2>
           
        </div>	
  </div>
  </div>
  </div>	   
	</div>
	</div>
</div>
    </div>
</section>